/* 清除默认样式 */
html,body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,table,tr,td,fieldset,form,img,input,textarea,select{
    margin:0;
    padding:0;
}
iframe{
   display: block;
   width: 100%;
}
a{
    text-decoration:none;
    color: #000;
}
li{
    list-style:none;
}
img{
    border:none; 
    vertical-align:middle;
}